@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.image-preview-box {
  @include flexAlignCenter(1rem);
  .avatar-img-box > .user-avatar {
    @include flexAlignCenter();
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 16777200px;
    background: $purple-50;

    img {
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 16777200px;
    }
  }

  .avatar-img-box {
    position: relative;

    .status-indicator {
      position: absolute;
      bottom: 0;
      left: 4.1rem;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    color: $greyscale-950;
  }

  .profile-indicator {
    font-size: 1rem;

    &.complete {
      color: $helper-success;
    }

    &.incomplete {
      color: $helper-error;
    }
  }

  .image-details {
    @include flexColumn();
    align-items: flex-start;
    .image-name {
      font-size: 1.2rem;
      color: $greyscale-600;
    }

    .image-size {
      font-size: 1rem;
      color: $greyscale-300;
    }

    button {
      font-weight: 500;
      font-size: 10px;
      text-decoration: underline;
      color: $purple-500;
    }
  }
}
