@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.enrolled-course-details-contaienr {
  .indicator {
    @include fontWeightSizeColor(600, 2rem);
    border-radius: 100px;
    padding: 1.6rem;

    &.enrolled {
      color: $purple-400;
      background-color: $purple-400-light;
    }

    &.completed {
      color: $helper-success;
      background-color: $helper-success-light;
    }
  }

  .progress-bar-and-button {
    & > .progress-box {
      margin-bottom: 4rem;
      span {
        @include fontWeightSizeColor(600, 2rem, $greyscale-500);
      }

      progress {
        height: 2.3rem;
      }
    }
  }

  .btn-complete {
    @include buttonStyles($greyscale-50, $purple-500, $purple-500);
    width: 100%;
    @include flexAlignCenter(1rem);
    justify-content: center;
  }
}
