@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.btn {
  @include buttonStyles();
}

.btn-white {
  border: 2px solid $purple-300;
  color: $purple-500;
}

.btn-purple {
  background-color: $purple-500;
  color: $greyscale-50;
  border: 2px solid $purple-500;
}
