@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.featured-course-wrapper {
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  width: 32.3%;

  &.personal-page {
    min-width: 90.3rem;
    background-color: transparent;
    padding: 0;
    h1 {
      @include fontWeightSizeColor(600, 4rem, $greyscale-900);
      margin-bottom: 2.4rem;
    }

    .course-img {
      min-height: 47.4rem;
    }

    .duration-hours-and-rating {
      @include flexAlignCenter();
      justify-content: space-between;
      margin-top: 1.6rem;

      .hours-and-weeks {
        @include flexAlignCenter(1.2rem);

        & > div {
          @include flexAlignCenter(0.4rem);
          span {
            @include fontWeight500Size14($greyscale-600);
          }
        }
      }

      .rating-and-category {
        @include flexAlignCenter(1.6rem);
        .star-img {
          width: 2.5rem;
          height: 2.6rem;
        }
      }
    }
  }

  .featured-course {
    &.browse {
      @include flexColumn(1.8rem);
      justify-content: space-between;
      height: 51rem;

      .lecture-and-rating {
        margin-top: 0;
      }

      .lecturer-and-heading > h3 {
        margin-top: 0;
      }

      .heading-and-description {
        margin: 0;
      }

      .price-and-button {
        & > p {
          @include flexColumn();
          align-items: flex-start;
          gap: 0;
          span {
            font-size: 2.4rem;
          }
        }

        a {
          padding: 1.2rem 2.5rem;
        }
      }
    }

    .course-img {
      width: 100%;
      height: 26.2rem;
      border-radius: 10px;
      object-fit: cover;
    }
    .lecture-and-rating {
      margin-top: 1.65rem;
    }
    .heading-and-description {
      margin-top: 1.2rem;
      margin-bottom: 2.4rem;

      h3 {
        @include fontWeightSizeColor(600, 2.4rem, $greyscale-900);
      }

      p {
        @include fontWeightSizeColor(500, 1.6rem, $greyscale-500);
        line-height: 150%;
        margin-top: 1.6rem;
        height: 7.2rem;
      }
    }

    .price-and-button {
      @include flexAlignCenter();
      justify-content: space-between;

      & > p {
        @include fontWeightSizeColor(500, 1.2rem, $greyscale-400);
        @include flexAlignCenter(0.8rem);
        .price {
          @include fontWeightSizeColor(600, 3.2rem, $greyscale-900);
        }
      }

      & > a {
        @include buttonStyles($greyscale-50, $purple-500, $purple-500);
      }
    }

    .instrucotr-and-heading {
      width: fit-content;
      & > .category-box > img {
        width: 3rem;
        height: 3rem;
      }

      h4 {
        @include fontWeightSizeColor(600, 2rem, $greyscale-400);
        margin-top: 1.8rem;
      }
    }
  }
}
