@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $greyscale-100;
}

button {
  border: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
