@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $greyscale-100;
}

main {
  margin: 0 17.7rem;
}

button,
input {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

select {
  outline: none;
}
