@use "./variables" as *;

@mixin flexAlignCenter($gap: null) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flexColumn($gap: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin modalStyles() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $greyscale-50;
  border-radius: 12px;
}

@mixin fontWeightSizeColor($weight: null, $size: null, $color: null) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin fontWeight500Size14($color: null) {
  font-weight: 500;
  font-size: 1.4rem;
  color: $color;
}

@mixin buttonStyles($color: null, $backgroundColor: null, $borderColor: null) {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  border-radius: 8px;
  text-align: center;
  padding: 1.6rem 2.8rem;
  color: $color;
  background-color: $backgroundColor;
  border: 2px solid $borderColor;
}
