@use "./variables" as *;

@mixin flexAlignCenter($gap: null) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flexColumn($gap: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin modalStyles() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $greyscale-50;
  border-radius: 12px;
}

@mixin fontWeight500Size14($color: null) {
  font-weight: 500;
  font-size: 14px;
  color: $color;
}
