@use "./variables" as *;

@mixin flexAlignCenter($gap: null) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flexColumn($gap: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin modalStyles() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $greyscale-50;
  border-radius: 12px;
}

@mixin fontWeightSizeColor($weight: null, $size: null, $color: null) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin fontWeight500Size14($color: null) {
  font-weight: 500;
  font-size: 1.4rem;
  color: $color;
}

@mixin buttonStyles(
  $color: null,
  $backgroundColor: null,
  $borderColor: null,
  $padding: 1.6rem 2.8rem
) {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  border-radius: 8px;
  text-align: center;
  padding: $padding;
  color: $color;
  background-color: $backgroundColor;
  border: 2px solid $borderColor;
}

@mixin hoverStyles() {
  background: $purple-100;
  color: $purple-500;
}

@mixin activeStyles() {
  background-color: $purple-50;
  color: $purple-600;
}
