@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.featured-courses-container {
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;

  .featured-courses-heading {
    h2 {
      @include fontWeightSizeColor(600, 4rem, $greyscale-950);
    }

    p {
      @include fontWeightSizeColor(500, 1.8rem, $greyscale-700);
    }
  }

  .courses-row {
    @include flexAlignCenter();
    justify-content: space-between;
  }
}
