@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.input-box {
  @include flexColumn(0.8rem);

  &.invalid-input > div > input {
    border: 1.5px solid $helper-error;
  }

  & > label,
  & > div > input {
    @include fontWeight500Size14();
  }

  & > label {
    color: $greyscale-700;
  }

  & > div > input {
    position: relative;
    background: $greyscale-100;
    padding: 1.4rem 1.3rem;
    border: 1.5px solid $greyscale-300;
    border-radius: 8px;
  }

  .input-icon {
    position: absolute;
    bottom: 1.4rem;
    right: 1.5rem;
  }
}
