@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.shcedule-dropdown-container {
  width: 100%;
  .btn-schedule {
    @include flexAlignCenter();
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.8rem;

    .number-and-session-type {
      display: flex;
      gap: 1.05rem;

      span {
        @include fontWeightSizeColor(600, 2.4rem, $greyscale-400);

        &.active {
          color: $purple-800;
        }
      }
    }
  }

  .slots-container {
    display: flex;
    justify-content: space-between;
  }
}
