@use "../../styles/mixins" as *;

.course-main {
  margin-bottom: 21.3rem;
  display: flex;
  gap: 13.3rem;

  .schedules-container {
    @include flexColumn(3.2rem);
    width: 100%;
    margin-top: 7.3rem;
  }
}
