@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.status-modal-container {
  @include modalStyles();
  @include flexColumn(4rem);
  width: 24.8%;
  align-items: center;
  z-index: 2000;
  padding: 6rem;

  .image-and-description {
    @include flexColumn(2.4rem);
    align-items: center;

    h3 {
      @include fontWeightSizeColor(600, 3.2rem, $greyscale-700);
      text-align: center;
    }

    p {
      @include fontWeightSizeColor(500, 2rem, $greyscale-700);
      text-align: center;
    }
  }

  .buttons-box {
    display: flex;
    gap: 0.8rem;
    width: 100%;
    & > button {
      @include fontWeightSizeColor(500, 1.6rem);
      width: 100%;
      border-radius: 0.8rem;
      text-align: center;
      padding: 1.7rem 0;
    }

    .btn1 {
      border: 2px solid $purple-300;
      color: $purple-500;
    }

    .btn2 {
      background-color: $purple-500;
      border: 2px solid $purple-500;
      color: white;
    }
  }
}
