@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.time-slot-container {
  display: flex;
  gap: 1.3rem;
  border: 1px solid $greyscale-200;
  border-radius: 1.2rem;
  padding: 1.5rem;
  color: $greyscale-500;

  &:hover {
    @include hoverStyles();
    cursor: pointer;
  }

  .time-and-text {
    @include flexColumn();

    .day-period {
      @include fontWeight500Size14();
    }

    .time-period {
      font-size: 1rem;
      white-space: nowrap;
    }
  }
}
