$purple-50: #eeedfc;
$purple-100: #dddbfa;
$purple-200: #b7b3f4;
$purple-300: #958fef;
$purple-400: #736bea;
$purple-500: #4f46e5;
$purple-600: #281ed2;
$purple-700: #1e169d;
$purple-800: #130e67;
$purple-900: #0a0836;
$purple-950: #05041b;
$purple-400-light: rgba(115, 107, 234, 0.1);

$greyscale-50: #fff;
$greyscale-100: #f5f5f5;
$greyscale-200: #d1d1d1;
$greyscale-300: #adadad;
$greyscale-400: #8a8a8a;
$greyscale-500: #666;
$greyscale-600: #525252;
$greyscale-700: #3d3d3d;
$greyscale-800: #292929;
$greyscale-900: #141414;
$greyscale-950: #0a0a0a;
$greyscale-black-light: rgba(0, 0, 0, 0.1);
$greyscale-grey-light: rgba(193, 188, 188, 0.5);

$helper-error: #f4161a;
$helper-warning: #f4a316;
$helper-success: #1dc31d;
$helper-error-light: #f66466;
$helper-success-light: rgba(29, 195, 29, 0.1);
